.fa-fixture-container {
  margin-bottom: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: $blackText;
  @extend fa-box-shadow;
  text-decoration: none;
}

.fa-fixture-container-live {
  margin-bottom: 10px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #38AC5F;
  color: white;
  @extend fa-box-shadow;
  text-decoration: none;
}
