fa-fixture-container {
	margin-bottom: 10px;
  	padding: 1.5rem 0;
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	background-color: white;
  	text-decoration: none;
}

.fa-fixture-container {
  @extend fa-fixture-container;
  @extend fa-box-shadow;
}

.fa-fixture-container-live {
  @extend fa-fixture-container;
  border: 2px solid $brandGreen;
}
