.fixture-container {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border: 1px solid #CCC;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFF;
  color: #38AC5F;
  border-radius: 3px;
}
