.fa-fixture-container {
  margin-top: 10px;
  // padding-left: 10px;
  // padding-right: 10px;
  // padding-bottom: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: $blackText;
  @extend fa-box-shadow;
  @include transition(background-color 0.5s);
  cursor: pointer;
  text-decoration: none;
}

.fa-fixture-container:hover {
  color: white;
  background-color: $greyText;
  text-decoration: none;
}
