.fa-fixture-time {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 0.98rem;
  @include mobile {
    font-size: 0.96rem;
  }
  text-align: center;
  color: #333;
  font-weight: 600;
}
