.fa-fixture-subscription-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-fixture-subscription-icon {
  // background-color: pink;
  padding: 1rem;
  width: 28px;
  height: 28px;
}
