.fa-fixture-subscription-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.fa-fixture-subscription-icon {
  cursor: pointer;
  padding: 1rem;
  width: 28px;
  height: 28px;
}

.fa-fixture-subscription-loading {
  display: flex;
  justify-content: center;
  font-size: 13px;
  color: #999;
}