@import './hexcodes';
@import './fonts';
@import './body';
@import './media-query-breakpoints';
@import './box-shadow';
@import './transition';
@import './placeholder-animation';

@import '../components/onboarding/styles';
@import '../components/competitions/styles';
@import '../components/competitions-scrollable-tabs/styles';
@import '../components/competition/styles';
@import '../components/teams/styles';
@import '../components/fixtures/styles';
@import '../components/day-fixtures/styles';
@import '../components/fixture/styles';
@import '../components/fixture-match-week/styles';
@import '../components/fixture-result/styles';
@import '../components/fixture-date/styles';
@import '../components/fixture-time/styles';
@import '../components/time-difference/styles';
@import '../components/fixture-teams/styles';
@import '../components/league-table/styles';
@import '../components/match-fixture/styles';
@import '../components/champions-league-table/styles';
@import '../components/competition-card/styles';
@import '../components/competition-scrollable-tabs/styles';
@import '../components/placeholder-competition-scrollable-tabs/styles';
@import '../components/placeholder-competition-card/styles';

@import '../components/placeholder-competition/styles';
@import '../components/placeholder-fixtures/styles';
@import '../components/placeholder-fixture/styles';
@import '../components/placeholder-fixture-teams/styles';
@import '../components/placeholder-fixture-date/styles';
@import '../components/placeholder-fixture-time/styles';
@import '../components/placeholder-time-difference/styles';
@import '../components/placeholder-league-table/styles';
@import '../components/placeholder-champions-league-table/styles';
@import '../components/placeholder-teams/styles';

@import '../components/fixture-subscription/styles';
