.placeholder-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.fixtures-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 480px) {
  select {
    width: 90px;
  }

  .fixtures-container {
    margin: 10px 10px 10px 10px;
  }

  .fixtures-filter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-top: 20px;
  }

  .fixture-calendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) {
  select {
    width: 120px;
  }

  .fixtures-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .fixtures-filter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    margin-top: 20px;
  }

  .fixture-calendar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }
}
