.fa-placeholder-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.fa-fixtures-error {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100%;
  text-align: center;
}

.fa-fixtures-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 120px;
  @include mobile {
    width: 90px;
  }
}

.fa-fixtures-container {
  margin: 20px 0;
  @include mobile {
    margin: 10px;
  }
}

.fa-fixtures-filter {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  align-items: center;
  width: 550px;
  margin-top: 20px;
  @include mobile {
    width: 85%;
  }
}
