.placeholder-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .fixtures-container {
    margin: 10px 10px 10px 10px;
  }

  .fixture-container {
    padding: 10px 5px 10px 5px;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .fixtures-filter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    width: 55%;
    margin-top: 20px;
  }

  .fixtures-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day-fixture-container {
    margin-top: 20px;
  }

  .day-fixture {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .fixture-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  .fixture-match-day {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .time-difference {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 480px) {
  .fixtures-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .fixtures-filter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 18%;
    margin-top: 20px;
  }

  .fixtures-heading {
    display: flex;
    justify-content: center;
  }

  .day-fixture {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #999;
  }

  .fixture-container {
    padding: 10px 5px 10px 5px;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .fixture-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .fixture-match-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .time-difference {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
