.placeholder-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  select {
    width: 90px;
  }

  .fixtures-container {
    margin: 10px 10px 10px 10px;
  }

  .fixture-container {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EEE;
    color: #38AC5F;
    border-radius: 3px;
  }

  .fixtures-filter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-top: 20px;
  }

  .fixtures-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .day-fixture-container {
    margin-top: 20px;
  }

  .day-fixture {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .fixture-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

  .fixture-match-day {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .time-difference {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .fixture-calendar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
}

@media screen and (min-width: 480px) {
  select {
    width: 120px;
  }

  .fixtures-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .fixtures-filter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
    width: 550px;
    margin-top: 20px;
  }

  .fixtures-heading {
    display: flex;
    justify-content: center;
  }

  .day-fixture {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .fixture-container {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    border: 1px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EEE;
    color: #38AC5F;
    border-radius: 3px;
  }

  .fixture-teams {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
  }

  .fixture-match-day {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .time-difference {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .fixture-calendar {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
  }
}
