.fa-placeholder-competition-container {
  @extend fa-box-shadow;
  background-color: white;
  margin-top: 30px;
  padding: 1rem 0;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  @include mobile {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fa-placeholder-competition-match-day {
  margin-top: 20px;
  @include placeholder-animation(25px, 55%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
