.fa-competition-container {
  @extend fa-box-shadow;
  background-color: white;
  padding: 1rem 0;
  margin-top: 30px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  @include mobile {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fa-competition-caption {
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $blackText;
}

.fa-competition-games {
  display: flex;
  margin-top: 20px;
  width: 310px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  justify-content: space-between;
  color: $blackText;
  font-weight: 400;
}

.fa-competition-match-day {
  display: flex;
  margin-top: 20px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: $blackText;
  font-weight: 400;
}

.fa-competition-match-day-value {
  display: flex;
  flex-direction: row;
}

.fa-competition-divider {
  padding: 4px 4px 4px 4px;
}

.fa-competition-current-match-day {
  padding: 4px 4px 4px 4px;
}

.fa-competition-number-of-match-days {
  color: $blackText;
  padding: 4px 4px 4px 4px;
}
