.fa-competition-container {
  @extend fa-box-shadow;
  background-color: white;
  margin-top: 30px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  @include mobile {
    width: 95%;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fa-competition-error {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 1rem;
  color: #777;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.fa-competition-match-day {
  display: flex;
  margin-top: 20px;
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  color: $blackText;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.fa-competition-match-day-label {
  color: #444;
}

.fa-competition-match-day-value {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.fa-competition-divider {
  padding: 4px 2px;
}

.fa-competition-current-match-day {
  padding: 4px;
  color: #111;
  font-weight: bolder;
}

.fa-competition-number-of-match-days {
  color: #666;
  padding: 4px;
}
