.fa-teams-container {
  @include desktop {
    margin-top: 20px;
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

.fa-teams-error {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100%;
  text-align: center;
}

.fa-team {
  @extend fa-box-shadow;
  padding: 1rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  @include mobile {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.fa-teams-heading {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}

.fa-team-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $blackText;
  font-size: 20px;
}
