.fa-fixture-match-week {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.fa-fixture-match-week-label {
  padding: 0.25rem;
}

.fa-fixture-match-week-value {
  padding: 0.25rem;
  background-color: white;
  margin-left: 15px;
  width: 45px;
  @include mobile {
    margin-left: 6px;
    width: 40px;
  };
}
