@media screen and (max-width: 480px) {
  .fixture-match-week {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 480px) {
  .fixture-match-week {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
