.fa-competitions-scrollable-tabs {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0 0 4px #ccc;
    overflow: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }

    ul {
        text-align: center;
        padding: 0;
        margin: 0;
        white-space: nowrap;
    }

    li {
        display: inline-block;
        margin: 0;
        padding: 0;
        color: #666;
    }

    div {
      text-decoration: none;
      color: #999;
      padding: 1rem 1.5rem;
      display: inline-block;
      outline: none;
      cursor: pointer;
  	  border-bottom: 2px solid white;

      &:hover {
          border-bottom: 2px solid $blackText;
          color: $blackText;
          @include transition(border 0.75s, color 0.75s);
      }

      &.fa-competition-link-selected {
          color: $blackText;
          border-bottom: 2px solid $blackText;
      }
    }
}
