body {
  line-height: 1.25;
}

.teamname {
  width: 50%;
}

.league-table-container {
  max-width: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

.league-table-heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.league-table-match-day {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  width: 40%;
  margin-top: 20px;
}

table {
  margin-top: 20px;
  border: 1px solid #CCC;
  border-collapse: collapse;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #F8F8F8;
  border: 1px solid #DDD;
  padding: 0.35em;
}

table th, table td {
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .league-table-container {
    margin: 10px;
  }

  .league-table-match-day {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    width: 50%;
    margin-top: 20px;
  }
}
