.fa-league-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 550px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  @include mobile {
    margin: 10px;
  }
}

.fa-league-table-error {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  height: 100%;
  text-align: center;
}

.fa-league-table-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @include mobile {
    font-size: 1.3rem;
  }
}

.fa-league-table-match-day {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-around;
  margin-top: 20px;
  @include mobile {
    margin-top: 10px;
  }
}

.fa-league-table-match-day-label {
  padding: 0.25rem;
}

.fa-league-table-match-day-value {
  padding: 0.25rem;
  background-color: white;
  margin-left: 15px;
  width: 45px;
  @include mobile {
    margin-left: 6px;
    width: 40px;
  };
}

.fa-league-table-sub-container {
  background-color: pink;
}

.fa-league-table {
  @extend fa-box-shadow;
  margin-top: 20px;
  border-collapse: collapse;
  table-layout: fixed;
  @include mobile {
    width: 100%;
  }
  background-color: white;
}

.fa-league-table-head-row, .fa-league-table-body-row {
  border: 1px solid #CCC;
  padding: 0.35em;
}

.fa-position, .fa-points {
  padding: 1rem;
  text-align: center;
  @include mobile {
    padding: 0.05rem;
  };
}

.fa-team-name {
  padding: 1rem;
  text-align: center;
  font-size: 0.95rem;
  @include mobile {
    font-size: 0.9rem;
    padding-left: 1rem;
  }
}

.fa-league-table-head {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}
