.onboarding-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .onboarding-container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .jumbotron {
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 5px;
    color: #333;
  }

  .welcome-message {
    font-size: 25px;
    margin-top: 10px;
    font-weight: 600;
  }

  .explanation {
    margin-top: 10px;
    font-size: 15px;
    line-height: 1.5;
  }

  .features {
    margin-left: 10px;
    margin-right: 10px;
  }

  .features-label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
  }

  .features-list {
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }

  .feature {
    margin-top: 10px;
    font-size: 14px;
  }

  .onboarding-button {
    width: 40%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #38AC5F;
    color: white;
  }
}

@media screen and (min-width: 480px) {
  .onboarding-container {
    width: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .jumbotron {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    border: 1px solid #666;
    border-radius: 5px;
    color: #333;
  }

  .welcome-message {
    font-size: 30px;
    margin-top: 20px;
    font-weight: 600;
  }

  .explanation {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
  }

  .features {
    margin-left: 40px;
    margin-right: 40px;
  }

  .features-label {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;
  }

  .features-list {
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
  }

  .feature {
    margin-top: 20px;
    font-size: 16px;
  }

  .onboarding-button {
    width: 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    background-color: #38AC5F;
    color: white;
  }
}
