.fa-time-difference {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 0.95rem;
  @include mobile {
    font-size: 0.9rem;
  }
}
